.slideshow-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  align-self: stretch;
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 16/9;
}

.mySlides {
  display: none;
}
.center {
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 100px;
  margin-top: -22px;
  transition: 0.3s ease;
  background-color: rgba(255, 255, 255, 0.475);
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--farve1);
}

/* Caption text */
.slideshow-container .text {
  color: var(--sort);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 46px;
  width: 100%;
  text-align: center;
  background-color: rgba(203, 116, 141, 0.475);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--hvid);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
}

#showcase .active {
  background-color: var(--farve1);
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
