/* CSS dokument for billede karusselen på index.html */
.slideshow-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  align-self: stretch;
  aspect-ratio: 16/9;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* frem og tilbage knapper */
.tilbage,
.frem {
  padding: 1cqw;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 100px;
  margin-top: -22px;
  transition: 0.3s ease;
  background-color: var(--hvid);
  height: auto;
  width: 10%;
}

.frem {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.tilbage:hover,
.frem:hover {
  background-color: var(--farve1);
}

/* Caption text */
.slideshow-container .text {
  color: var(--sort);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 46px;
  width: 100%;
  text-align: center;
  background-color: var(--hvid);
}

/* nummere */
.numbertext {
  color: var(--hvid);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* prikker/indikatore til at se hvilket billede er aktuelt */
.prik {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
}

#showcase .active {
  background-color: var(--farve1);
}

/* computer view */
@media only screen and (max-width: 300px) {
  .tilbage,
  .frem,
  .text {
    font-size: 11px;
  }
}
