/* FOOTER */
footer {
  margin-top: 20px;
  background-color: var(--sort);
  color: var(--hvid);
  padding: 45px 15px;
}

footer a {
  color: var(--hvid);
  text-decoration: underline;
  font-size: 20px;
  padding: 10px;
}
footer a:hover {
  text-decoration: underline wavy 2px;
}

/* hovedsider */
.footer-section1 {
  text-align: center;
  margin-bottom: 5px;
}

/* undersider */
.footer-section2 {
  text-align: center;
  margin-bottom: 5px;
}

/* desktop view */
@media screen and (min-width: 900px) {
  .footer-indhold {
    display: flex;
    justify-content: space-between;
  }
  /* hovedsider */
  .footer-section1 {
    text-align: left;
  }
  /* undersider */
  .footer-section2 {
    text-align: right;
  }
}
/* FOOTER SLUT */
